* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.primary-icon {
    height: 40px;
}

.nav-list {
    list-style-type: none;
}

.nav-list li {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: aqua;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media (max-width: 520px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar .container-icon {
        width: 100%;
    }

    .primary-icon {
        margin-left: 10px;
        margin-top: 10px;
    }

    .menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }
     .nav-list {
         list-style-type: none;
         width: 100%;
         text-align: center;
         padding-top: 10px;
         display: none;
     }

     .nav-list li {
         display: block;
         border-top: 1px solid white;
     }

     .active {
         display: block;
     }
}










